/*
0 - 600px: phone
600px - 900px: tablet portrait
900px - 1200px: tblet landscape
[1200px - 1800px] is where our normal style apply
1800px +: Big desktop

/*$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layouts + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.crew-header {
  width: 50%;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0rem 4rem;
  padding: 0.5rem 9rem;
  position: absolute;
  top: 10rem; }
  @media (max-width: 56.25em) {
    .crew-header {
      width: 40%;
      font-size: 1.8rem;
      padding: 1rem 4.5rem;
      top: 13rem; } }
  @media (max-width: 37.5em) {
    .crew-header {
      width: 80%;
      font-size: 1.8rem;
      padding: 1rem 4.5rem;
      top: 13rem; } }
  .crew-header span {
    padding-right: 0.5rem; }

.crew-details {
  padding-right: 10rem; }
  @media (max-width: 37.5em) {
    .crew-details {
      padding-right: 0rem; } }
  .crew-details--1 {
    font-size: 3rem;
    color: #c7c5c5;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    @media (max-width: 37.5em) {
      .crew-details--1 {
        margin-top: 3rem; } }
  .crew-details--2 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #fff; }
  .crew-details--3 {
    font-size: 1.5rem;
    color: #c7c5c5; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translate(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translate(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.u-margin-right-small {
  margin-right: 1.5rem; }

.crew-container {
  display: flex;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem; }
  @media (max-width: 56.25em) {
    .crew-container {
      margin-top: 9rem; } }
  @media (max-width: 37.5em) {
    .crew-container {
      flex-direction: column-reverse;
      margin-top: 9rem;
      margin-bottom: 0rem;
      padding-bottom: 5rem; } }
  .crew-container__Douglas {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 10rem; }
    @media (max-width: 37.5em) {
      .crew-container__Douglas {
        flex-direction: column-reverse;
        padding: 0rem 0rem;
        text-align: center; } }
    @media (max-width: 56.25em) {
      .crew-container__Douglas {
        padding: 0rem 5rem; } }
  .crew-container__ansari {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 10rem; }
    @media (max-width: 56.25em) {
      .crew-container__ansari {
        padding: 0rem 5rem; } }
    @media (max-width: 37.5em) {
      .crew-container__ansari {
        flex-direction: column-reverse;
        padding: 0rem 5rem;
        text-align: center; } }
  .crew-container .crew-img {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    animation: moveInRight 2s ease-in-out; }
    .crew-container .crew-img .img-douglas {
      width: 75%;
      height: 50%; }
    .crew-container .crew-img .img-ansari {
      width: 100%;
      height: 50%; }
    .crew-container .crew-img .img-victor {
      width: 100%;
      height: 50%; }
    .crew-container .crew-img .img-mark {
      width: 70%;
      height: 50%; }

.destination-container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: 0 auto; }

.heading {
  padding: 2rem 8rem; }
  .heading__text {
    color: #fff;
    font-size: 2.25rem;
    text-transform: uppercase; }
    @media (max-width: 37.5em) {
      .heading__text {
        font-size: 1.8rem; } }

.content {
  display: flex;
  padding: 2rem 5rem; }
  @media (max-width: 37.5em) {
    .content {
      flex-direction: column; } }
  @media (max-width: 56.25em) {
    .content {
      flex-direction: column; } }
  .content__img {
    display: flex;
    flex: 0 0 50%;
    width: 100%;
    height: 100%;
    padding: 0rem 4rem;
    margin-right: 2rem;
    animation: moveInLeft 2s ease-in-out; }
    @media (max-width: 37.5em) {
      .content__img {
        margin-right: 0;
        margin-bottom: 2rem;
        justify-content: center; } }
    @media (max-width: 56.25em) {
      .content__img {
        margin-right: 0;
        margin-bottom: 2rem;
        justify-content: center; } }
    .content__img img {
      width: 90%;
      display: block;
      height: 100%; }
      @media (max-width: 37.5em) {
        .content__img img {
          width: 50%; } }
      @media (max-width: 56.25em) {
        .content__img img {
          width: 50%; } }
  .content__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 2rem 1.5rem; }
    @media (max-width: 56.25em) {
      .content__details {
        margin: 0;
        align-items: center;
        text-align: center; } }
    @media (max-width: 37.5em) {
      .content__details {
        margin: 0;
        align-items: center;
        text-align: center; } }

.user-nav {
  display: flex;
  align-items: center;
  padding: 0rem 3rem; }
  @media (max-width: 37.5em) {
    .user-nav {
      padding: 1rem;
      justify-content: center; } }
  .user-nav > * {
    padding: 1rem 0rem;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.1s; }
    .user-nav > *:not(:last-child) {
      margin-right: 3rem; }
  .user-nav > *::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease; }
  .user-nav > *:hover::after {
    background-color: #fff;
    transform: scaleX(1); }
  .user-nav a:link,
  .user-nav a:visited {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.1rem; }
    @media (max-width: 56.25em) {
      .user-nav a:link,
      .user-nav a:visited {
        font-size: 1.6rem; } }

.head {
  padding: 1rem 3rem;
  margin-top: 2.5rem;
  font-size: 4rem;
  color: #fff; }
  @media (max-width: 56.25em) {
    .head {
      font-size: 4.5rem; } }

.subhead {
  padding: 1rem 3rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem; }
  @media (max-width: 37.5em) {
    .subhead {
      margin-bottom: 2rem; } }
  @media (max-width: 56.25em) {
    .subhead {
      padding: 1rem 5rem;
      margin-bottom: 2rem; } }
  .subhead .paragraph {
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #fff; }
    @media (max-width: 56.25em) {
      .subhead .paragraph {
        font-size: 1.9rem; } }

.distance {
  display: flex;
  color: white;
  padding: 1rem 3rem; }
  @media (max-width: 37.5em) {
    .distance {
      flex-direction: column; } }
  @media (max-width: 56.25em) {
    .distance {
      flex-direction: column; } }
  .distance__average {
    margin-right: auto; }
    @media (max-width: 37.5em) {
      .distance__average {
        margin-bottom: 2rem; } }
    @media (max-width: 56.25em) {
      .distance__average {
        margin-bottom: 2.5rem; } }
  .distance__length {
    font-weight: 200;
    font-size: 1.2rem; }
    @media (max-width: 56.25em) {
      .distance__length {
        font-size: 1.8rem; } }
  .distance__time {
    font-weight: bold;
    font-size: 2.5rem; }

.technology-container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 12%; }
  @media (max-width: 37.5em) {
    .technology-container {
      margin: 0rem;
      margin-top: 3rem; } }
  .technology-container .heading-tech {
    padding: 2rem 2rem;
    font-size: 2.25rem; }
    @media (max-width: 37.5em) {
      .technology-container .heading-tech {
        padding: 2rem 5rem;
        font-size: 1.8rem; } }
    .technology-container .heading-tech span {
      margin-right: 1rem; }
  .technology-container .content-tech {
    margin-top: 3rem;
    display: flex; }
    @media (max-width: 37.5em) {
      .technology-container .content-tech {
        flex-direction: column-reverse; } }
    .technology-container .content-tech__details {
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 3rem; }
      @media (max-width: 37.5em) {
        .technology-container .content-tech__details {
          flex-direction: column;
          margin-right: 0rem;
          margin-top: 2rem; } }
    .technology-container .content-tech__img {
      flex: 1;
      animation: moveInRight 2s ease-in-out; }
      .technology-container .content-tech__img--desktop {
        width: 100%;
        height: 100%; }
        @media (max-width: 37.5em) {
          .technology-container .content-tech__img--desktop {
            display: none; } }
      .technology-container .content-tech__img--mobile {
        width: 100%;
        height: 100%;
        display: none; }
        @media (max-width: 37.5em) {
          .technology-container .content-tech__img--mobile {
            display: block; } }
    .technology-container .content-tech .details-1 {
      flex: 0 0 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8rem 2rem; }
      @media (max-width: 37.5em) {
        .technology-container .content-tech .details-1 {
          flex-direction: row;
          width: 100%;
          padding: 1.5rem 1.5rem;
          justify-content: center; } }
      .technology-container .content-tech .details-1 > * {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        text-decoration: none;
        color: #fff;
        z-index: 10000;
        position: relative;
        font-size: 1.5rem;
        font-weight: 600; }
        .technology-container .content-tech .details-1 > *:not(:last-child) {
          margin-bottom: 3rem; }
          @media (max-width: 37.5em) {
            .technology-container .content-tech .details-1 > *:not(:last-child) {
              margin-bottom: 0rem;
              margin-right: 5rem; } }
        .technology-container .content-tech .details-1 > *:hover {
          color: #19193e; }
      .technology-container .content-tech .details-1 > *::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 50%;
        z-index: -1000;
        border: 2px solid #7f7d7d;
        transition: 1s ease-in-out; }
      .technology-container .content-tech .details-1 > *:hover::before {
        background-color: #fff;
        border: none; }
    .technology-container .content-tech .details-2 {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-self: stretch;
      padding: 8rem 3rem;
      color: #e7e6e6; }
      @media (max-width: 37.5em) {
        .technology-container .content-tech .details-2 {
          align-items: center; } }
      .technology-container .content-tech .details-2 .para {
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase; }
        @media (max-width: 37.5em) {
          .technology-container .content-tech .details-2 .para {
            font-size: 1.8rem;
            letter-spacing: 0.2rem; } }
      .technology-container .content-tech .details-2 .head-tech {
        font-size: 4.5rem;
        font-weight: 300;
        margin: 1.2rem 0;
        text-transform: uppercase; }
        @media (max-width: 37.5em) {
          .technology-container .content-tech .details-2 .head-tech {
            font-size: 3.5rem;
            text-align: center; } }
      .technology-container .content-tech .details-2 .para-content {
        font-size: 1.3rem;
        padding-right: 10rem; }
        @media (max-width: 37.5em) {
          .technology-container .content-tech .details-2 .para-content {
            padding: 0;
            text-align: center;
            font-size: 2rem; } }

.header--navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header__logo-box {
  padding-left: 2.5rem;
  z-index: 10000; }
  @media (max-width: 37.5em) {
    .header__logo-box {
      padding-top: 3rem; } }

.header__line-box {
  position: relative;
  width: 41%;
  padding: 3px 3px; }
  @media (max-width: 56.25em) {
    .header__line-box {
      display: none; } }
  .header__line-box .border-line {
    position: absolute;
    left: 6rem;
    z-index: 1000;
    height: 0.2rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px); }

.header__text-box {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0rem 5rem;
  background: rgba(63, 63, 63, 0.5);
  backdrop-filter: blur(7px);
  border-radius: 3px;
  position: relative; }
  @media (max-width: 56.25em) {
    .header__text-box {
      margin-top: 0.5rem;
      padding: 3rem 5rem; } }
  @media (max-width: 37.5em) {
    .header__text-box {
      width: 80%;
      position: absolute;
      left: 50%;
      top: 28rem;
      height: 250px;
      flex-direction: column;
      padding: 0rem 0rem;
      z-index: 1000;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.1);
      transition: all 0.2s;
      background: rgba(63, 63, 63, 0.5); } }
  .header__text-box > * {
    padding: 1rem 0rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s;
    position: relative; }
    .header__text-box > *:not(:last-child) {
      margin-right: 3rem; }
  .header__text-box > *::after {
    content: "";
    width: 100%;
    height: 2px;
    align-self: stretch;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease; }
    @media (max-width: 37.5em) {
      .header__text-box > *::after {
        display: none; } }
  .header__text-box > *:hover::after {
    transform: scaleX(1); }
  .header__text-box a:link,
  .header__text-box a:visited {
    margin-right: 5rem;
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease-in-out; }
    .header__text-box a:link span,
    .header__text-box a:visited span {
      font-weight: 800; }
    .header__text-box a:link:hover,
    .header__text-box a:visited:hover {
      transform: scale(1.1); }
    @media (max-width: 37.5em) {
      .header__text-box a:link,
      .header__text-box a:visited {
        margin-right: 0rem;
        padding: 2rem 2rem; } }
    .header__text-box a:link span,
    .header__text-box a:visited span {
      margin-right: 0.5rem; }

.header__heading-secondary {
  height: 75vh;
  margin: 4rem 4rem; }
  @media (max-width: 56.25em) {
    .header__heading-secondary {
      margin: 1.5rem 2rem; } }
  @media (max-width: 37.5em) {
    .header__heading-secondary {
      margin: 3rem 2rem; } }

.header__para {
  padding: 0rem 5rem;
  height: 70vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media (max-width: 56.25em) {
    .header__para {
      padding: 0rem 0.5rem;
      justify-content: center;
      align-items: center;
      text-align: center; } }
  @media (max-width: 37.5em) {
    .header__para {
      padding: 0rem 5rem;
      height: 30vh;
      color: #fff;
      margin-top: 5rem; } }

.header .para--1 {
  font-size: 2.5rem;
  display: block; }

.header .para--2 {
  font-size: 10rem;
  text-transform: uppercase;
  display: block; }

.header .para--3 {
  display: block;
  font-size: 1.5rem;
  margin-right: 10rem; }
  @media (max-width: 56.25em) {
    .header .para--3 {
      margin-right: 0;
      padding: 0rem 1rem; } }

.header__text-explore {
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  animation: moveInRight 2s ease-in-out; }
  @media (max-width: 56.25em) {
    .header__text-explore {
      justify-content: center;
      align-items: center; } }
  @media (max-width: 37.5em) {
    .header__text-explore {
      height: 35vh;
      color: #fff;
      margin-top: 2rem;
      justify-content: center;
      align-items: center; } }

.header__explore {
  background-color: #fff;
  color: #909290;
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease-in-out; }
  .header__explore:hover {
    transform: scale(1.1); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 37.5em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1.5rem; } }
    @media (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important;
        display: flex;
        flex-direction: column-reverse; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navigation {
  position: relative;
  z-index: 100000; }
  .navigation__menu-open {
    position: absolute;
    top: 3rem;
    right: 2rem;
    background-color: #fff;
    height: 60px;
    width: 60px;
    padding: 2rem 2rem;
    cursor: pointer;
    border-radius: 10px;
    display: none; }
    @media (max-width: 37.5em) {
      .navigation__menu-open {
        display: block; } }
  .navigation__menu-close {
    position: absolute;
    top: 3rem;
    right: 2rem;
    background-color: #fff;
    height: 60px;
    width: 60px;
    padding: 2rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    display: none; }
    @media (max-width: 37.5em) {
      .navigation__menu-close {
        display: none; } }

.crew-radio {
  display: flex;
  flex-direction: row;
  padding: 2rem 0rem; }
  @media (max-width: 37.5em) {
    .crew-radio {
      justify-content: center;
      margin-top: 2rem; } }
  .crew-radio__group {
    padding-right: 3rem; }
  .crew-radio__input {
    display: none; }
  .crew-radio__label {
    cursor: pointer;
    position: relative;
    padding-right: 2rem; }
  .crew-radio__button {
    height: 2rem;
    width: 2rem;
    background: #686767;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.9rem; }
    .crew-radio__button:hover {
      background-color: #fff; }
    .crew-radio__button::after {
      content: "";
      width: 2rem;
      height: 2rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      opacity: 0;
      transition: all 0.2s; }
  .crew-radio__input:checked ~ .crew-radio__label .crew-radio__button::after {
    opacity: 1; }

.section-home {
  height: 100vh;
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem 0rem; }
  @media (max-width: 56.25em) {
    .section-home {
      padding: 0 0rem;
      background-image: url(../assets/home/background-home-mobile.jpg);
      background-size: cover;
      background-position: center; } }

.section-crew {
  height: 100%;
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem 0rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-crew {
      padding: 0 0rem;
      background-image: url(../assets/crew/background-crew-tablet.jpg); } }
  @media (max-width: 37.5em) {
    .section-crew {
      padding: 0 0rem;
      background-image: url(../assets/crew/background-crew-mobile.jpg); } }

.section-destination {
  height: 100%;
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem 0rem; }
  @media (max-width: 56.25em) {
    .section-destination {
      padding: 0 0rem;
      background-image: url(../assets/destination/background-destination-tablet.jpg); } }
  @media (max-width: 37.5em) {
    .section-destination {
      padding: 0 0rem;
      background-image: url(../assets/destination/background-destination-mobile.jpg); } }

.section-technology {
  height: 100%;
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem 0rem;
  position: relative; }
  @media (max-width: 37.5em) {
    .section-technology {
      padding: 0 0rem;
      background-image: url(../assets/technology/background-technology-mobile.jpg); } }
