.header {
  &--navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-box {
    padding-left: 2.5rem;
    z-index: 10000;

    @include respond(phone) {
      padding-top: 3rem;
    }
  }

  &__line-box {
    position: relative;
    width: 41%;
    padding: 3px 3px;

    @include respond(tab-port) {
      display: none;
    }

    .border-line {
      position: absolute;
      left: 6rem;
      z-index: 1000;
      height: 0.2rem;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(1px);
    }
  }

  &__text-box {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0rem 5rem;
    background: rgba(63, 63, 63, 1);
    backdrop-filter: blur(7px);
    border-radius: 3px;
    position: relative;

    @include respond(tab-port) {
      margin-top: 0.5rem;
      padding: 3rem 5rem;
    }

    @include respond(phone) {
      // border: 2px solid green;
      width: 80%;
      position: absolute;
      left: 50%;
      top: 28rem;
      height: 250px;

      flex-direction: column;
      padding: 0rem 0rem;
      // margin: 50% auto;

      // top: 30%;
      // left: 50%;
      z-index: 1000;
      text-align: center;
      visibility: hidden;

      opacity: 0;
      transform: translate(-50%, -50%) scale(1.1);
      transition: all 0.2s;

      //background
      // background: rgba(63, 63, 63, 0.1);
      // backdrop-filter: blur(0px);
    }

    // &--link {
    //   // margin-right: 5rem;
    //   border: 2px solid yellow;
    //   // align-self: stretch;
    //   // display: flex;
    //   // align-items: center;
    // }

    & > * {
      padding: 1rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s;
      // z-index: 10000;
      position: relative;

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }

    & > *::after {
      content: "";
      width: 100%;
      height: 2px;
      align-self: stretch;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    & > *:hover::after {
      transform: scaleX(1);
    }

    a:link,
    a:visited {
      margin-right: 5rem;
      // background-color: red;
      font-size: 1.3rem;
      font-weight: 300;
      text-decoration: none;
      color: #fff;
      transition: all.2s ease-in-out;

      span {
        font-weight: 800;
      }

      &:hover {
        transform: scale(1.1);
      }

      @include respond(phone) {
        // display: none;
        margin-right: 0rem;
        padding: 2rem 2rem;
      }

      span {
        margin-right: 0.5rem;
      }
    }
  }

  &__heading-secondary {
    height: 75vh;
    margin: 3rem 4rem;
    // border: 2px solid yellow;

    @include respond(tab-port) {
      margin: 1.5rem 2rem;
    }
  }

  &__para {
    padding: 0rem 5rem;
    height: 70vh;
    color: #fff;

    //positioning
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include respond(tab-port) {
      padding: 0rem 0.5rem;
      // height: 45vh;
      justify-content: center;
      align-items: center;

      text-align: center;
      // border: 2px solid yellow;
    }

    @include respond(phone) {
      padding: 0rem 5rem;
      height: 30vh;
      color: #fff;

      margin-top: 5rem;
      // border: 2px solid green;
    }
  }

  .para--1 {
    font-size: 2.5rem;
    display: block;
  }

  .para--2 {
    font-size: 10rem;
    text-transform: uppercase;
    display: block;
  }

  .para--3 {
    display: block;
    font-size: 1.5rem;
    margin-right: 10rem;
    // padding: 0rem 10rem;

    @include respond(tab-port) {
      margin-right: 0;
      padding: 0rem 1rem;
    }
  }

  &__text-explore {
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    animation: moveInRight 2s ease-in-out;

    // positioning
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;

    // position: relative;

    // border: 2px solid green;

    @include respond(tab-port) {
      justify-content: center;
      align-items: center;
    }
    @include respond(phone) {
      height: 35vh;
      color: #fff;

      margin-top: 2rem;
      justify-content: center;
      align-items: center;
    }
  }

  &__explore {
    background-color: #fff;
    color: rgb(144, 146, 144);
    text-decoration: none;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;

    height: 150px;
    width: 150px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    // position: absolute;
    // bottom: 0;
    // right: 0;

    // @include respond(phone) {
    //   right: 50%;
    //   bottom: 50%;
    // }
  }
}
