.navigation {
  position: relative;

  &__menu-open {
    position: absolute;
    top: 3rem;
    right: 2rem;
    background-color: #fff;
    height: 50px;
    width: 50px;
    padding: 2rem 2rem;
    cursor: pointer;

    border-radius: 10px;

    display: none;

    @include respond(phone) {
      display: block;
    }
  }

  &__menu-close {
    position: absolute;
    top: 3rem;
    right: 2rem;
    background-color: #fff;
    height: 50px;
    width: 50px;
    padding: 2rem 2rem;

    border-radius: 10px;
    cursor: pointer;

    display: none;

    @include respond(phone) {
      display: none;
    }
  }
}
