.section-home {
  height: 100vh;
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem 0rem;

  @include respond(tab-port) {
    padding: 0 0rem;
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-position: center;
  }
}

.section-crew {
  height: 100vh;
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem 0rem;

  position: relative;

  @include respond(tab-port) {
    padding: 0 0rem;
    background-image: url(../assets/crew/background-crew-mobile.jpg);
  }
}
// .tour-crew {
//   background-image: url(../assets/crew/background-crew-desktop.jpg);
// }
