.section-home {
  height: 100vh;
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem 0rem;

  @include respond(tab-port) {
    padding: 0 0rem;
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-position: cover;
  }
}

// .space-tourism-web {
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
//   width: 100%;
// }
// .web-page {
//   background-image: url(../assets/home/background-home-desktop.jpg);
// }
.tour-crew {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
}

// @media (max-width: 768px) {
//   .space-tourism-web {
//     background-image: url(../assets/home/background-home-tablet.jpg);
//     background-size: cover;
//   }
// }

// @media (max-width: 425px) {
//   .space-tourism-web {
//     background-image: url(../assets/home/background-home-mobile.jpg);
//   }
// }
